<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org@1.9.11"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>Time Series Visualization</title>
</head>

<body class="w-full h-screen flex justify-center items-center flex-col px-[50px]">
  <h1 class="color-red font-bold text-4xl mb-5">Time Series Visualization</h1>

  <div class="flex w-fit h-auto items-center justify-center space-x-10">
    <p class="text-black font-bold text-xl">Start/End Delta: £<span id="delta"></span></p>
    <p class="text-black font-bold text-xl">Current State: £<span id="current_state"></span></p>
  </div>

  <div hx-get="/data" hx-swap="none" hx-trigger="load" class="w-[80%] h-[80vh]">
    <canvas id="myChart"></canvas>
  </div>
</body>

<script>
  document.addEventListener('htmx:afterRequest', (event) => {
    const { delta, current_data, points } = JSON.parse(event.detail.xhr.response)

    const times = points.map(point => new Date(point.time).toLocaleDateString('en-US', { month: "short", day: "numeric", year: "2-digit" }))
    const values = points.map(point => point.value)

    const ctx = document.getElementById('myChart');

    const totalDuration = points.length * 25;
    const delayBetweenPoints = totalDuration / points.length;
    const previousY = (ctx) => ctx.index === 0 ? ctx.chart.scales.y.getPixelForValue(100) : ctx.chart.getDatasetMeta(ctx.datasetIndex).data[ctx.index - 1].getProps(['y'], true).y;
    const animation = {
      x: {
        type: 'number',
        easing: 'linear',
        duration: delayBetweenPoints,
        from: NaN, // the point is initially skipped
        delay(ctx) {
          if (ctx.type !== 'data' || ctx.xStarted) {
            return 0;
          }
          ctx.xStarted = true;
          return ctx.index * delayBetweenPoints;
        }
      },
      y: {
        type: 'number',
        easing: 'linear',
        duration: delayBetweenPoints,
        from: previousY,
        delay(ctx) {
          if (ctx.type !== 'data' || ctx.yStarted) {
            return 0;
          }
          ctx.yStarted = true;
          return ctx.index * delayBetweenPoints;
        }
      }
    };

    new Chart(ctx, {
      type: 'line',
      data: {
        labels: times,
        datasets: [{
          label: 'Stock price £',
          data: values,
          backgroundColor: "rgba(143,199,232,0.2)",
          borderColor: "rgba(108,108,108,1)",
          pointBackgroundColor: "#535353",
          borderWidth: 1,
          radius: 0,
        }]
      },
      options: {
        animation,
        interaction: {
          intersect: false
        },
        plugins: {
          legend: false
        },
        scales: {
          y: {
            ticks: {
              callback: function (value, index, ticks) {
                return '£' + value;
              }
            }
          }
        }
      }
    });

    const deltaSpan = document.getElementById("delta")
    const currentDataSpan = document.getElementById("current_state")

    deltaSpan.innerHTML = delta.toFixed(2)
    currentDataSpan.innerHTML = current_data.toFixed(2)
  })

</script>

</html>