<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org@1.9.11"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>Time Series Visualization</title>
</head>

<body class="w-full h-screen flex justify-center items-center flex-col">
  <h1 class="color-red font-bold text-4xl mb-5">Time Series Visualization</h1>

  <div hx-get="/data" hx-swap="none" hx-trigger="load" class="w-[80%] h-[80vh] border">
    <canvas id="myChart"></canvas>
  </div>
</body>

<script>
  document.addEventListener('htmx:afterRequest', (event) => {
    const data = JSON.parse(event.detail.xhr.response)

    console.log(data);
  })

</script>

</html>