<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org@1.9.11"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>
  <title>Time Series Visualization</title>
</head>

<body class="w-full h-screen flex justify-center items-center">
  <h1 class="color-red font-bold text-4xl">Time Series Visualization</h1>
</body>

</html>